.grid-container{
    border-block-color: 2px red;
}
.container{
    border-block-color: 5px black;;
}
.header{
    border-block-color: 3px red;
}


























.grid-container {
    display: grid;
    grid-template-columns: 1fr 0.3fr 2.4fr 0.3fr 1fr;
    grid-template-rows: 1fr 0.7fr 1.3fr 0.5fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
  }
  
  .container { grid-area: 1 / 1 / 13 / 6; }
  
  .header { grid-area: 1 / 1 / 3 / 6; }
  
  .navlist { grid-area: 3 / 1 / 4 / 6; }
  
  .sidebar1 { grid-area: 5 / 1 / 12 / 3; }
  
  .sidebar2 { grid-area: 5 / 4 / 12 / 6; }
  
  .image { grid-area: 5 / 3 / 12 / 4; }
  
  .footer { grid-area: 12 / 1 / 13 / 6; }
  